<?php

$menu = require 'menu.php';
$icon_menu = require 'icon_menu.php';
$tablefields = require 'tablefields.php';

return [
    'base_url' => 'http://localhost:8081',
    'default_page' => 'default/index',
    'database' => [
        'driver'   => 'mysqli',
        'host'     => 'localhost',
        'username' => 'root',
        'password' => '',
        'dbname' => 'mbroadcaster_db', // 'notif-sql-1',
        'port' => NULL,
        'socket' => NULL
    ],
    'auth' => 'session', //JWT or Session
    'jwt_secret' => '123aaaa321',
    'jwt_cookie_name' => '',
    'app_domain_name' => '',
    'menu' => [
        'menu' => $menu,
        'icon' => $icon_menu
    ],
    'fields' => $tablefields,
    'pretty_url' => true,
    'attachment_path' => 'public'
];